<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>eShoppie-Registration</title>
    <style type="text/css">
    
    body{
        background-color: lightblue;
        margin: 200px;
        font-family: arial;

    }

    h1,h3{
        margin: auto;
        text-align: center;
    }
    
    div{
        border: 2px solid blue;
        height: 200px;
        width: 400px;
        margin: auto;
        padding: 20px;
    }

    label {
  width:100px;
  display: inline-block;
}
button{
    margin-left: 150px;
}
    
</style>
</head>
<body>
<h1>Sign Up</h1>
<h3>{{ message }}</h3>
<div>
<form method="post" action="/signup">
    <label >Username:</label>
    <input type="text" name="username" >
    <br>
    <label >Email:</label>
    <input type="email" name="email">
    <br>
    
    <label>Mobile:</label>
    <input type="text" name="mobile">
    <br>
        
    <label>Password:</label>
    <input type="password" name="password">
    <br><br><br>
    <button type="submit">Submit</button>
</form>
</div>
</body>
</html>